/*Sitedeki tüm linklerin altının çizilmemesi ve link rengine dönüşmemesi için*/
html {
  overflow-x: hidden;
}
.mr20 {
  margin-right: 20px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.mre15 {
  margin-right: -15px !important;
}
.no-link {
  color: inherit;
  text-decoration: none;
}

.no-link:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.dropdown-toggle::after {
  display: none; /*<!-- dropdown toggle butonunu kaldırmak için-->*/
}

.dropdown-toggle i {
  color: #e30313; /*Yanlış kodlanan renk-> #cd767b;*/
  margin: -4px 0 0 8px;
  font-size: 10px;
  vertical-align: middle;
  /*<!-- dropdown toggle icon nuna renk ve konumlandırma için -->*/
}

.topMenuRight p {
  margin-bottom: 0px;
  color: #333333;
  text-align: right;
  letter-spacing: -0.2px;
  font-weight: 500 !important;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 1;
  /*<!-- Menü sağındaki Müze Ziyaret bilgileri için -->*/
}

.bol {
  content: "";
  width: 1px;
  height: 45px;
  right: 0px;
  /* Menuler arasındaki düz çizgi için */
}

.bolfilmogrenme {
  content: "";
  width: 1px;
  height: 90%;
  right: 0px;
  /* film ve öğrenmedeki slider üstü divider için */
}

.vl {
  border-left: 1px solid;
  position: absolute;
  left: 100%;
  top: 0;
}

.navbar-light .navbar-nav .nav-link,
.dropdown-item {
  color: #333333;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  /* margin: 13px; */
  /*  font-weight: 600 !important;<!-- Menü yazıları için-->*/
}

.dropdown-item:hover {
  font-weight: bolder;
  color: #e30313;
  background-color: white; /*<!-- dropdown alt menünun üzerine gelince olacaklar -->*/
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #e30313; /*Eski Kodlanan renk-> #cd767b; */ /*<!-- Menü linklerinin üzerine gelince kırmızı olması için-->*/
}

.nav-link22 {
  font-size: 22px !important;
}

.nav-linkmedium {
  font-weight: 500 !important;
}

.img-fluid2 {
  max-width: 90%;
  height: auto;
}

.fixed-top2 {
  border-top: 0px !important;
}

.dropdown-menuitem {
  font-size: 22px;
  font-weight: bold;
}

/* mekan kiralama */
.venue-rental p {
  font-family: Raleway;
  font-size: 22px;
}

/* Blog sayfası ölçekleme */

.blogdetailpage {
  width: 100%;
}

.blogdetailpage p {
  float: left;
  width: 100%;
}

.blog100 {
  width: 100%;
}

.blog100 img {
  width: 100%;
}

.blog50left {
  width: 47%;
  float: left;
  margin: 5px 25px 25px 0;
}

.blog50right {
  width: 47%;
  float: right;
  margin: 5px 0 25px 25px;
}

.blog50centerondesktop {
  width: 49%;
  margin: 0 25% 25px 25%;
}

.blog50center {
  width: 49%;
  margin: 0 25% 25px 25%;
}

.blog50center::after {
  content: "\A";
}

.blog30left {
  width: 33%;
  float: left;
  margin: 5px 25px 25px 0;
}

.blog30right {
  width: 33%;
  float: right;
  margin: 5px 0 25px 25px;
}

.blog30center {
  width: 49%;
  margin: 0 33% 25px 33%;
}

.blogcontainer {
  width: 100%;
}

.blog50leftcontainer {
  width: 47%;
  float: left;
  margin: 5px 25px 25px 0;
}

.blog30leftcontainer {
  width: 33%;
  float: left;
  margin: 5px 25px 25px 0;
}

.blog50rightcontainer {
  width: 47%;
  float: right;
  margin: 5px 0 25px 25px;
}

.blog30rightcontainer {
  width: 33%;
  float: right;
  margin: 5px 0 25px 25px;
}

.blog50centercontainer {
  width: 47%;
  text-align: center;
  margin: 5px auto 25px;
}

.blog30centercontainer {
  width: 33%;
  text-align: center;
  margin: 5px auto 25px;
}

.blog100container {
  width: 100%;
}

.blog100container img,
.blog50leftcontainer img,
.blog50rightcontainer img,
.blog50centercontainer img,
.blog30leftcontainer img,
.blog30rightcontainer img,
.blog30centercontainer img {
  width: 100%;
}

.bloglisttitle {
  font-weight: 400 !important;
}

.collectionArtworkHeader {
  font-size: 1.5em;
}

@media only screen and (max-device-width: 1399px) {
  .bloglisttitle {
    font-size: 24px !important;
  }
}

.contentDetailImage {
  width: 100%;
}

.kunye {
  margin-top: 1rem;
}

.set-margin-top-58 {
  margin-top: 74px;
}

.cookie-bar {
  overflow: hidden;
  position: fixed;
  bottom: -100%;
  left: -100%;
  width: 100%;
  background-color: #d8d45e;
  padding: 20px 40px 20px 20px;
  text-align: center;
  z-index: 50;
}

.cookie-bar.show {
  left: 0;
  bottom: 0;
}

.cookie-bar .cookie-close {
  width: 20px;
  position: absolute;
  right: 10px;
  margin-top: 2px;
}

/*Dropdown üzerine gelince otomatik açılması için*/
/* Desktops and laptops ----------- */ /*
@media only screen and (min-width : 1224px) {  
 .dropdown:hover>.dropdown-menu {
  display: block;
}
} */
/*Dropdown üzerine gelince otomatik açılması için*/
/* kolleksiyon popup*/
@media (max-width: 1200px) {
  .modal-xl {
    max-width: 100% !important;
  }
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1400px !important;
  }
}

/* footer social icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 10px;
}

small {
  font-size: 100% !important;
}
/* footer social icons */
.social-network a.icoRss:hover {
  background-color: #7cd668;
}

.social-network a.icoFacebook:hover {
  background-color: #3b5998;
}

.social-network a.icoTwitter:hover {
  background-color: #33ccff;
}

.social-network a.icoGoogle:hover {
  background-color: #bd3518;
}

.social-network a.icoVimeo:hover {
  background-color: #0590b8;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoYoutube:hover {
  background-color: #cd201f;
}

.social-network a.icoPinterest:hover {
  background-color: #bd081c;
}

.social-network a.icoInstagram:hover {
  background-color: #fa8072;
}

.social-network a.icoGoogleArtsCulture:hover {
  background-color: #039be4;
}

.social-network a.icoRss:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoVimeo:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

a.socialIcon:hover,
.socialHoverClass {
  color: #44bcdd;
}

.social-circle li a {
  background-color: #333333; /*/sosyal media iconları arka plan*/
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
}

.social-circle li i {
  margin: 0;
  line-height: 50px;
  text-align: center;
  font-size: 130%;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

/* footer social icons */

/*************************footer css***************************/
.footer-background {
  background: #eaeaea;
  padding-top: 32px;
}

.footer-left-section p {
  color: #333333;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  line-height: 25%;
}

span.inner-contents {
  font-size: 10px;
  line-height: 1;
}

.left-text-footer {
  border-right: 1px solid #979797;
}

hr {
  border-top: 1px solid #979797 !important;
}

.right-text-footer h5 {
  padding-bottom: 30px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.navbar-default .dropdown-menu {
  top: auto;
}

.right-text-footer h5 a {
  color: #333333;
}

.footer-left-section h5 {
  color: #333333;
}
/***********************footer css end*************************************/
/*Arama Motoru Tasarımı Start*/
.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 45px;
  background-color: white;
  /* #353b48;*/
  border-radius: 15px;
  padding: 7px;
}

.search_input {
  color: #333333;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 25px;
  transition: width 0.4s linear;
}

.searchbar:hover {
  border: 1px solid grey;
}

.searchbar:hover > .search_input {
  padding: 0 10px;
  width: 225px;
  caret-color: red;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
  background: white;
  color: #e74c3c;
}

.search_icon {
  height: 25px;
  width: 25px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
}

/*Arama Motoru Tasarımı End*/

/**********************Diğer CSS LER******************************/
/*.carousel-control-prev {    left: -10%;}

.carousel-control-next{    right: -10%; }*/

.card-body {
  padding: unset;
  margin: 20px 0 0 0;
}

.card-body p {
  font-family: "Raleway";
  font-size: 20px;
  line-height: 26px;
  color: #333333;
}

.card-body h3 {
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 600;
  color: #333333;
}

.card-header {
  padding: unset;
}

@media (min-width: 980px) {
  .topMenuRight {
    width: 20% !important;
  }

  .fixed-top3 {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  .plnew {
    padding-left: 60px;
  }
  .movedown40 {
    margin-top: 32px;
  }
}

/*
width: 20% !important;*/
@media (max-width: 980px) {
  .social-margin-right {
    margin: 0 0 0 -15px;
  }

  .plnew2 {
    /* padding-left: 0px !important;  */
  }
  .plnew3 {
    padding-left: 10px !important;
  }
  .plnew4 {
    padding-left: 15px !important;
    margin-top: 0px !important;
  }
  .dpn {
    display: none !important;
  }

  .fixed-top3 {
    position: fixed;
    top: 0;
    z-index: 1030;
  }
  ul.social-network li {
    margin: 0 5.7px;
  }
  .ptnew2 {
    height: 75px !important;
  }
  .imgnew {
    height: 25px !important;
  }
  .ptnew3 {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
  .topMenuRight {
    width: 100% !important;
    padding: 10px;
    background-color: #f2f2f2;
  }

  .altmenu h5
    /*Alt menü telefonda daha küçük görünmesi için*/ {
    font-size: 13px;
    line-height: 0px !important;
  }

  .social-circle li a {
    width: 41px;
    height: 41px;
    font-size: 17px;
  }

  .social-circle li i {
    line-height: 41px;
  }
}

/*
div.row {
    padding-left: 15px;
    padding-right: 15px;
}*/

/*recaptcha mobilde ekran dışına taşmaması için küçültme kodu*/
@media screen and (max-width: 575px) {
  #rc-imageselect,
  .g-recaptcha {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }

  .g-recaptcha {
    padding-left: 6%; /*Mobilde biraz daha ortalamak için*/
  }

  .cookie-bar .cookie-close {
    margin-top: 25px;
  }

  .blog50centerondesktop {
    width: 100%;
    margin: 0 0 25px 0;
  }
}

.btn-group-sm > .btn,
.btn-sm {
  font-size: 0.775rem;
}

/*BOOTSTRAP 4 de olmayan ve sitede çok kullanılan font-size kodları için*/
.fs-40 {
  font-size: 40px !important;
  color: #1e1e1e;
}

.fs-40 h1 {
  font-size: 40px !important;
  color: #1e1e1e;
}

.fs-30 {
  font-size: 30px !important;
  color: #333333;
}

.fs-22 {
  font-size: 22px !important;
  color: #333333;
}

.fs-20 {
  font-size: 20px !important;
  color: #333333;
}

.fs-16m {
  font-size: unset;
}

.learning-head {
  font-size: 35px;
}

.learning-head-side {
  font-size: 30px;
}

.yayin-subtitle {
  font-size: 40px !important;
  color: #333333;
}

.onevideo {
  width: 100%;
  height: 772px;
}

.twovideos {
  width: 100%;
  height: 464px;
}

.oneofthreevideos {
  width: 100%;
  height: 464px;
}

.twoofthreevideos {
  width: 100%;
  height: 230px;
}

/* mobilde yazılar için küçültme kodu*/
@media screen and (max-width: 575px) {
  .onevideo {
    width: 100%;
    height: 300px;
  }

  .twovideos {
    width: 100%;
    height: 300px;
  }

  .oneofthreevideos {
    width: 100%;
    height: 300px;
  }

  .twoofthreevideos {
    width: 100%;
    height: 300px;
  }

  .fs-40 {
    font-size: 30px !important;
    color: #333333;
  }

  .fs-40 h1 {
    font-size: 30px !important;
    color: #333333;
  }

  .fs-30 {
    font-size: 24px !important;
    color: #333333;
  }

  .fs-22 {
    font-size: 20px !important;
    color: #333333;
  }

  .fs-20 {
    font-size: 18px !important;
    color: #333333;
  }

  .fs-16m {
    font-size: 16px !important;
    color: #333333;
  }

  .learning-head {
    font-size: 20px;
  }

  .learning-head-side {
    font-size: 20px;
  }

  .yayin-subtitle {
    font-size: 20px !important;
    color: #333333;
  }
}

/* Pera Desktop HD ----------- */
@media only screen and (min-device-width: 1400px) {
  .fs-50 {
    font-size: 50px !important;
  }

  .w-md-30 {
    width: 30%;
  }

  .navbar-nav {
    margin: 8px 0 8px -24px;
  }
}

/* Pera Desktop ----------- */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1400px) {
  .fs-50 {
    font-size: 30px !important;
  }

  .w-md-30 {
    width: 30%;
  }

  .navbar-nav {
    margin: 8px 0 8px -24px;
  }
}
/* Pera Tablet ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .fs-50 {
    font-size: 22px !important;
  }
}
/* Pera Mobile ----------- */
@media only screen and (max-device-width: 768px) {
  .fs-50 {
    font-size: 20px !important;
  }
}

/********************************************************/

/* The radio */
.radio {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkround {
  position: absolute;
  top: 6px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-color: white; /*#f8204f;*/
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.radio input:checked ~ .checkround {
  background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkround:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .checkround:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio .checkround:after {
  left: 2px;
  top: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #333333; /*#f8204f;*/
}

/* The check */
.check {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  padding-right: 15px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border-color: #f8204f;
  border-style: solid;
  border-width: 2px;
}

/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid;
  border-color: #f8204f;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cust-btn {
  margin-bottom: 10px;
  background-color: #f8204f;
  border-width: 2px;
  border-color: #f8204f;
  color: #fff;
}

.cust-btn:hover {
  border-color: #f8204f;
  background-color: #fff;
  color: #f8204f;
  border-radius: 20px;
  transform-style: 2s;
}

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript,
        if it's not present, don't show loader */
.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}
/* 
    .se-pre-con {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
         background: url('../PeraIconLarge.gif') center no-repeat #fff;  
        background: url('/assets/img/loader/tr.gif') center no-repeat #fff;
        background-size: 85px 85px;
    } */

/*Ana menüde açılır menüyü yukarı taşıyan kod parçacığı*/
.dropdown-menu {
  top: 90%;
  border-radius: 0rem;
  /*box-shadow: 0px 5px 5px rgba(0,0,0,0.5);*/
}

@media (max-width: 991px) {
  /* When scrolled Hide logo on mobile but not on desktop */

  .menu-logo-not-scrolled {
    display: none;
  }

  .menu-logo-scrolled {
    display: none;
  }

  .menu-dates-not-scrolled {
    display: block;
  }

  .menu-dates-scrolled {
    display: block;
  }

  .nav-zemin {
    height: 56px;
  }

  .fontum p {
    font-family: Raleway;
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .dropdown-menu.show {
    width: 150%;
    margin-left: -8%;
    padding-left: 8%;
  }

  #dateHeader {
    color: #333333;
    font-size: 24px;
  }

  /* When scrolled Hide logo on mobile but not on desktop */

  .menu-logo-not-scrolled {
    display: none;
  }

  .menu-logo-scrolled {
    display: block;
  }

  .menu-dates-not-scrolled {
    display: block;
  }

  .menu-dates-scrolled {
    display: none;
  }

  .nav-zemin {
    height: 80px;
  }

  .nav-zemin {
    height: 80px;
  }

  .w-100new {
    width: 200%;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    height: 7px;
    margin-left: -50%;
    background-color: white;
    border-color: white;
  }

  .fontum p {
    font-family: Raleway;
    font-size: 22px;
    color: #333333;
  }
}

@media (min-width: 768px) {
  .col-md-6.x {
    flex: 0 0 47%;
  }

  .col-md-4.x {
    flex: 0 0 31%;
  }

  .col-md-1.x {
    flex: 0 0 1%;
  }

  .dropdown-menu {
    border: 0px;
    margin-top: 9px;
  }

  .dropdown-item {
    padding-right: 1.5rem;
    padding-left: 0rem;
    margin: 14px 0 14px 0;
  }

  /*
        .publicationaccordion {
            margin-left: 20px;
        }
            */
}
/*Sayfa genişliğini büyük akranda arttıran kod parçacığı*/
@media (min-width: 1200px) {
  .container {
    max-width: 1400px;
  }

  .carousel-control-prev {
    margin-left: -130px;
  }

  .carousel-control-next {
    margin-right: -130px;
  }
}
/*Blog sayfası için divder tasarımı*/
.blogHorizontalDivider {
  background-color: #d8d8d8;
  height: 6px;
  border: 1px solid #d8d8d8;
  margin-bottom: 25px;
  margin-top: 25px;
  width: 100%;
}

/*logo*/

* {
  box-sizing: border-box;
  list-style-type: none;
}

.pera-logo {
  pointer-events: none;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
  width: 500px;
  position: relative;
  /* height: 80px; */
  height: 65px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  /* margin: 0 0 6px -4px; */
  margin: 0 0 6px -54px;
}

.pera-logo .rectangle {
  pointer-events: none;
  background-color: rgba(255, 255, 255, 1);
  top: 0%;
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0%;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.pera-logo .shape {
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0);
  top: 25%;
  height: 46.25%;
  width: 5.8%;
  position: absolute;
  margin: 0;
  left: 0.6%;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.pera-logo .shape1 {
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0);
  top: 25%;
  height: 46.25%;
  width: 6.2%;
  position: absolute;
  margin: 0;
  left: 8.4%;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.pera-logo .shape2 {
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0);
  top: 25%;
  height: 46.25%;
  width: 6.8%;
  position: absolute;
  margin: 0;
  left: 16.8%;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.pera-logo .shape3 {
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0);
  top: 23.75%;
  height: 47.5%;
  width: 6.8%;
  position: absolute;
  margin: 0;
  left: 25%;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.pera-logo .shape4 {
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0);
  right: 38.4%;
  top: 25%;
  height: 46.25%;
  width: 8.4%;
  position: absolute;
  margin: 0;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.pera-logo .shape5 {
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0);
  right: 29%;
  top: 13.75%;
  height: 58.75%;
  width: 7.6%;
  position: absolute;
  margin: 0;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.pera-logo .shape6 {
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0);
  right: 21.6%;
  top: 25%;
  height: 46.25%;
  width: 5.8%;
  position: absolute;
  margin: 0;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.pera-logo .shape7 {
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0);
  right: 13%;
  top: 25%;
  height: 46.25%;
  width: 6.2%;
  position: absolute;
  margin: 0;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.pera-logo .shape8 {
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0);
  right: 5.6%;
  top: 23.75%;
  height: 48.75%;
  width: 4.8%;
  position: absolute;
  margin: 0;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.pera-logo .shape9 {
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0);
  right: 1.4%;
  top: 13.75%;
  height: 6.25%;
  width: 1%;
  position: absolute;
  margin: 0;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.pera-logo .shape10 {
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0);
  right: 0.4%;
  top: 25%;
  height: 46.25%;
  width: 3%;
  position: absolute;
  margin: 0;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.pera-logo .flower {
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0);
  top: 14.38%;
  height: 71.25%;
  width: 11.4%;
  position: absolute;
  margin: 0;
  left: 37.2%;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.pera-logo .flower .background {
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 57px;
  width: 57px;
  position: absolute;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.pera-logo .flower .group {
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0);
  top: 0px;
  height: 57px;
  width: 57px;
  position: absolute;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.pera-logo .flower .group .shape11 {
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0);
  top: 0%;
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0%;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.pera-logo .flower.state1-to-state2 .group {
  transition: all 2.8s ease-in-out 0s;
  transform: rotate(360deg);
}

.pera-logo .rectangle1 {
  pointer-events: none;
  background-color: rgba(255, 255, 255, 1);
  right: 0%;
  top: 0%;
  height: 100%;
  width: 49.2%;
  position: absolute;
  margin: 0;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.pera-logo .rectangle2 {
  pointer-events: none;
  background-color: rgba(255, 255, 255, 1);
  top: 0%;
  height: 100%;
  width: 33.4%;
  position: absolute;
  margin: 0;
  left: 0%;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.pera-logo.state1-to-state2 .rectangle2 {
  transition: all 2s ease-in-out 0.4s;
  opacity: 0;
}

.pera-logo.state1-to-state2 .rectangle1 {
  transition: all 2s ease-in-out 0.4s;
  opacity: 0;
}

.pera-logo.state2-to-state3 .rectangle2 {
  transition: all 0.2s ease-in-out 0s;
}

.pera-logo.state2-to-state3 .rectangle1 {
  transition: all 0.2s ease-in-out 0s;
}

.pera-logo.state2-to-state3 .flower {
  transition: all 1.8s ease-in-out 0s;
  transform: rotate(360deg);
}

.pera-logo.state3-to-state2 .rectangle2 {
  transition: all 0.2s ease-in-out 0s;
}

.pera-logo.state3-to-state2 .rectangle1 {
  transition: all 0.2s ease-in-out 0s;
}

.pera-logo.state3-to-state2 .flower {
  transition: all 1.8s ease-in-out 0s;
  transform: rotate(0deg);
}

.pera-logo.state0 {
}

.pera-logo.state2 .rectangle1 {
  opacity: 0;
}

.pera-logo.state2 .rectangle2 {
  opacity: 0;
}

.pera-logo.state3 .rectangle1 {
  opacity: 0;
}

.pera-logo.state3 .flower {
  -ms-transform: rotate(360deg);
  /* IE 9 */
  -webkit-transform: rotate(360deg);
  /* Chrome, Safari, Opera */
  transform: rotate(360deg);
}

.pera-logo.state3 .rectangle2 {
  opacity: 0;
}

.pera-logo .flower.state2 .group {
  -ms-transform: rotate(360deg);
  /* IE 9 */
  -webkit-transform: rotate(360deg);
  /* Chrome, Safari, Opera */
  transform: rotate(360deg);
}

@media (min-width: 980px) {
  .ytembed {
    width: 100%;
    height: 560px;
  }
}
/*tablet*/
@media (min-width: 768px) and (max-width: 980px) {
  .ytembed {
    width: 100%;
    height: 400px;
  }
}
/*mobil*/
@media (min-width: 415px) and (max-width: 768px) {
  .ytembed {
    width: 100%;
    height: 320px;
  }

  .fragman iframe {
    width: 100%;
    height: 400px !important;
    border: 0;
  }
}

@media (min-width: 320px) and (max-width: 414px) {
  .social-margin-right {
    margin: 0px 0px 0px -2px;
  }

  .ytembed {
    width: 100%;
    height: 300px;
  }

  .fragman iframe {
    width: 100%;
    height: 220px !important;
    border: 0;
  }
}

@media (max-width: 320px) {
  .social-margin-right {
    margin: 0px 0px 0px -2px;
  }

  .ytembed {
    width: 100%;
    height: 280px;
  }
}

@media (max-width: 1600px) {
  .container {
    max-width: 1100px;
  }

  .pera-logo {
    width: 390px;
  }

  .carousel-control-next {
    margin-right: -110px;
  }

  .carousel-control-prev {
    margin-left: -110px;
  }

  ul.social-network li {
    margin: 0 5.7px;
  }

  .threedicons img {
    height: 50px;
  }

  /*
    .page-link img {
        height: 30px;
    }*/
}

@media (min-width: 1600px) {
  .pera-logo {
    display: block;
  }

  .ptnew {
    padding-top: 1rem !important;
  }

  .logononhd {
    display: none;
  }

  .topMenuRight p {
    line-height: 1.3;
  }

  .nav-linkbolder {
    font-size: 22px !important;
  }

  .nav-linklighter {
    font-size: 20px !important;
  }

  .fs-40 h2 {
    font-size: 30px !important;
  }

  .fs-24 {
    font-size: 24px !important;
  }

  .todaydate {
    font-size: 14px;
    font-weight: 600;
  }

  .todaynote {
    font-size: 14px;
  }

  .detaildate {
    font-size: 30px !important;
  }

  .detailcontent {
    font-size: 20px !important;
  }

  .detailwarning {
    font-size: 20px !important;
  }

  .detailgroupname {
    font-size: 30px !important;
  }

  .detailgrouptitle {
    font-size: 20px !important;
    font-weight: 600 !important;
  }

  .detailgroupcontent {
    font-size: 20px !important;
  }

  .listtitle {
    font-size: 24px !important;
  }

  .listtarih {
    font-size: 22px !important;
  }

  .listdetail {
    font-size: 20px !important;
  }

  .fontum p {
    font-size: 20px !important;
  }

  .blogdetailpage p {
    font-size: 20px !important;
  }

  .bloglisttitle {
    font-size: 26px !important;
  }

  .bloglistsummary {
    font-size: 20px !important;
  }

  .staticcontentbody {
    font-size: 20px !important;
  }

  .moreinfo {
    font-size: 16px !important;
  }

  .threedtourcontainer {
    height: 700px;
  }

  .fragman iframe {
    width: 100%;
    height: 772px;
    border: 0;
  }

  .ytembed {
    width: 100%;
    height: 700px;
  }

  .threedicons img {
    height: 50px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1100px;
  }
}

@media (min-width: 1280px) and (max-width: 1599px) {
  .logononhd {
    display: block;
    width: 460px;
    /* height: 74px;   */
  }

  .pera-logo {
    /* display: none; */
    margin: 0 0 6px -30px;
    height: 55px;
  }

  .ptnew {
    padding-top: 0.2rem !important;
  }

  .nav-linkbolder {
    font-size: 20px !important;
  }

  .nav-linklighter {
    font-size: 18px !important;
  }

  .dropdown-menuitem {
    font-size: 20px !important;
  }

  .todaydate {
    font-size: 13px;
    font-weight: 600;
  }

  .todaynote {
    font-size: 11px;
  }

  .card-body p {
    font-size: 18px;
  }

  .right-text-footer h5 {
    font-size: 16px;
  }

  .fs-40 {
    font-size: 30px !important;
  }

  .fs-40 h1 {
    font-size: 30px !important;
  }

  .fs-40 h2 {
    font-size: 26px !important;
  }

  .fs-24 {
    font-size: 24px !important;
  }

  .fs-22 {
    font-size: 18px !important;
  }

  .fs-20 {
    font-size: 18px !important;
  }

  /*
    .page-link {
        font-size: 20px !important;
    }*/

  .detaildate {
    font-size: 22px !important;
  }

  .detailcontent {
    font-size: 18px !important;
  }

  .detailwarning {
    font-size: 20px !important;
  }

  .detailgroupname {
    font-size: 30px !important;
  }

  .detailgrouptitle {
    font-size: 20px !important;
    font-weight: 600 !important;
  }

  .detailgroupcontent {
    font-size: 18px !important;
  }

  .listtitle {
    font-size: 24px !important;
  }

  .listtarih {
    font-size: 22px !important;
  }

  .listdetail {
    font-size: 20px !important;
  }

  .yayin-subtitle {
    font-size: 25px !important;
  }

  .fontum p {
    font-size: 20px !important;
  }

  .blogdetailpage p {
    font-size: 18px !important;
  }

  .bloglisttitle {
    font-size: 24px !important;
  }

  .bloglistsummary {
    font-size: 20px !important;
  }

  .staticcontentbody {
    font-size: 18px !important;
  }

  .moreinfo {
    font-size: 16px !important;
  }

  .threedtourcontainer {
    height: 550px;
  }

  .fragman iframe {
    width: 100%;
    height: 600px;
    border: 0;
  }

  .ytembed {
    width: 100%;
    height: 550px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1100px;
  }

  .pera-logo {
    /* display: none; */
    /* height: 50px; */
    margin: 0 0 6px -40px;
  }

  .logononhd {
    display: block;
    width: 350px;
    /*height: 86px; */
  }

  .ptnew {
    padding-top: 0.1rem !important;
  }

  .moreinfo {
    font-size: 16px !important;
  }

  .fragman iframe {
    width: 100%;
    height: 600px;
    border: 0;
  }
}

@media (max-width: 961px) {
  .logononhd {
    display: block;
    width: 350px;
    /*height: 86px; */
  }

  .navbar-brand {
    margin-right: unset;
  }

  .pera-logo {
    /* display: none; */
    /* height: 45px; 
            margin: 10px 0 6px -60px;  */
    width: 100%;
    margin: 0px 0px 0px 0px;
  }

  .ptnew {
    padding-top: 0.1rem !important;
  }

  .nav-linkbolder {
    font-size: 22px !important;
  }

  .nav-linklighter {
    font-size: 20px !important;
  }

  .todaydate {
    font-size: 14px;
    font-weight: 600;
  }

  .todaynote {
    font-size: 14px;
  }

  .fontum p {
    font-size: 18px !important;
  }

  .fs-40 h2 {
    font-size: 26px !important;
  }

  .fs-24 {
    font-size: 24px !important;
  }

  .card-body h3 {
    font-size: 26px;
  }

  .card-body p {
    font-size: 20px !important;
  }

  .detaildate {
    font-size: 20px !important;
  }

  .detailcontent {
    font-size: 20px !important;
  }

  .detailwarning {
    font-size: 15px !important;
  }

  .detailgroupname {
    font-size: 26px !important;
  }

  .detailgrouptitle {
    font-size: 26px !important;
    font-weight: 600 !important;
  }

  .detailgroupcontent {
    font-size: 20px !important;
  }

  .listtitle {
    font-size: 24px !important;
  }

  .listtarih {
    font-size: 22px !important;
  }

  .listdetail {
    font-size: 20px !important;
  }

  .fontum p {
    font-size: 20px !important;
  }

  .blogdetailpage p {
    font-size: 18px !important;
  }

  /* .bloglisttitle {
            font-size: 26px !important;
        } */

  .bloglistsummary {
    font-size: 20px !important;
  }

  .staticcontentbody {
    font-size: 20px !important;
  }

  .moreinfo {
    font-size: 16px !important;
  }

  .threedtourcontainer {
    height: 300px;
  }

  .fragman iframe {
    width: 100%;
    height: 520px;
    border: 0;
  }
}

@media (max-width: 768px) {
  #dateHeader {
    color: white;
    font-size: 22px;
  }

  .slytdtl {
    margin-left: 30px !important;
    margin-right: 30px !important;
  }

  .yenimodsm {
    display: block !important;
  }

  .yy {
    width: 100% !important;
    margin-top: 10px !important;
  }

  .blog50left {
    margin: 5px 10px 25px 0;
  }

  .blog50right {
    margin: 5px 0 25px 10px;
  }
}

@media (max-width: 468px) {
  .threedicons img {
    height: 28px;
  }
}
